.logstab {
    margin: 0;
}

.logstab_card {
    margin: 50px auto;
    width: 90%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.03);
    border: 2px solid #333;
    border-radius: 5px;
    overflow: auto;
}

.logstab_card_etc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    border-bottom: 2px solid #333;
    height: 45px;
}

.logstab_button {
    margin: 5px 5px;
    height: 35px;
    width: 150px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
}

.logstab_tabletext {
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

.logstab_icon {
    height: 25px;
    width: 25px;
    margin-top: 3px;
    color: #777;
}

.logstab_refreshbtn {
    margin-right: 2px;
    background-color: #333;
    border: 3px solid #222;
    border-radius: 5px;
}