.settings {
    display: flex;
    justify-content: center;
}

.settings_win {
    background-color: #222;
    margin-top: 50px;
    height: 650px;
    width: 750px;
    border: 2px solid #333;
    border-radius: 5px;
}

.settings_form {

}

.settings_input {    
    display: block;
    text-align: center;
    margin: 10px auto;
    height: 20px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid #333;
}


.btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    height: 30px;
    width: 100px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.settings_title {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal_header {
    display: flex;
    justify-content: end;
}

.modal_content {
    background-color: #222;
    border: #333 solid 2px;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Ширина модального окна */
}

.close {
    cursor: pointer;
    font-size: 26px;
    color: #fff; /* Цвет крестика */
    margin-bottom: 10px;
}

.user_form {
    display: flex;
    flex-direction: column;
}

.user_input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}