@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
  background-color: #111;
  font-family: 'Ubuntu';
  color: #fff;
}

p {
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

table {
  border-collapse: collapse;
  font-family: 'Ubuntu';
  font-size: 1rem;
  letter-spacing: 1px;
  width: 100%;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: #222;
}

th,
td {
  border-top: 1px solid rgb(160 160 160);
  border-bottom: 1px solid rgb(160 160 160);
  padding: 8px 10px;
  text-align: center;
  vertical-align: middle;
}

td:last-of-type {
  text-align: center;
}


tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}

#fcol {
  width: 0px;
}

#tcol {
  width: 0;
}

.button {
  margin-left: 10px;
  height: 25px;
  width: 125px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

::-webkit-scrollbar {
  display: none;
}